@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Figtree:wght@300;400;500;600&family=Merriweather+Sans:ital,wght@0,400;0,500;1,500&display=swap');

body {
    font-family: 'Figtree', sans-serif;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

hr {
    border: none;
    height: 2px;
    background-color: #3333337c;
    margin: 20px 0 30px 0;
}

/* --------------------------------------------------------------- Header */

header {
    position: relative;
    padding-bottom: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

.logo a {
    font-family: 'Domine', serif;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-bottom: 0;
    text-shadow: 1px 2px 0px rgb(190 190 190);
}

.title {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2px;
    line-height: 0;
}

nav a {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all ease-in-out 0.15s;
}

nav a:hover {
    transform: scale(1.1);
  }

.navbar-light .navbar-toggler {
    color: rgb(0 0 0);
    border-color: rgb(0 0 0);
    font-size: 1rem;
    background-color: #f1f1f1;
}

.active {
    padding: 2px 0px 5px;
    margin: 5px 5px 0;
    color: #fafafa !important;
    background-color: #343a40;
    border-radius: 5px;
}

/* --------------------------------------------------------------- Profile Image */

.profile-img-bground {
    display: flex;
    background-color: #000;
    background-image:url('../images/wood.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    padding-top: 54px;
    margin-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
}


.profile-img {
    background-color: #fafafa;
    background-image:url('../images/profile-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 90%;
    max-width: 345px;
    min-width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px  rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------------------------- Main page introduction */

.intro {
    text-align: center;
    padding: 20px 30px 20px;
    border-radius: 5px;
}

.intro h1 {
    margin-bottom: 20px;
}

.intro p {
    font-weight: 500;
    margin-bottom: 20px
}

.intro h4 {
    font-weight: 700;
}

/* --------------------------------------------------------------- Footer */

  .social-icons .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    transition: all ease-in-out 0.15s;
  }

  .social-icons .social-icon i {
    font-size: 25px;
    color: #555;
  }

  .social-icons .social-icon:hover {
    background-color: #ddd;
    transform: scale(1.15);
  }

/* --------------------------------------------------------------- Media Queries */

@media (max-width: 767.5px) {
    .collapse {
      margin-top: 40px;
    }

    .active {
        background-color: transparent;
        color: rgb(0, 0, 0) !important;
        padding: 0;
        margin: 0;
    }

    .profile-img {
        margin-bottom: 20px;
    }

  }

  @media (max-width: 370px) {
    
    .logo a {
        font-size: 1.6rem;
    }

    .title {
        font-size: 0.71rem;
    }

    .collapse {
        margin-top: 30px;
      }

      nav a {
        font-size: 1.2rem;
    }
  }

  